/**
 * Description: reauired, the file description, reference link, etc.
 * Created Date: 2021-07-08 10:56:58 AM
 * Author: Liu Yi <ly@hcttop.com>
 * -----
 * Last Modified: 2021-07-08, 11:00:09 AM
 * Modified By: Liu Yi <ly@hcttop.com>
 */

/*
 * Description: reauired, the file description, reference link, etc.
 * Created Date: 2021-07-08 10:53:13 AM
 * Author: Liu Yi <ly@hcttop.com>
 * -----
 * Last Modified: 2021-07-08, 10:53:13 AM
 * Modified By: Liu Yi <ly@hcttop.com>
 */
.header {
    margin: 50px auto;
    p {
        color: red;
        text-align: center;
    }
}